extends ../../layout


	
block content
	.container.body
		h3 Edit trigger
			
		.row
			form#triggerForm.col-md-4.panel.panel-default.panel-body
				.form-group
					label.control-label(for='trigger-name') Trigger name:
					input#trigger-name(type="hidden",value="#{trigger.name}",name='name')
					
					p.form-control-static #{trigger.name}
					//input.form-control(type='text')#trigger-name(value="#{trigger.name}")
				.form-group
					label(for='sensor') Sensor:
					p.form-control-static #{trigger.sensorName}
					input#sensor(type="hidden",value="#{trigger.sensorId}",name='sensorId')
					
						
				.form-group
					label.control-label(for='condition') Condition					
					select#condition.form-control(name='condition')
						mixin condition(val, text)
							if(JSON.stringify(val)==JSON.stringify(trigger.condition))
								option(value='#{val}', selected='selected') #{text}
							else
								option(value='#{val}') #{text}
								
						+condition('LESS_THAN','Is less than')
						+condition('LESS_THAN_EQ','Is less or equal to')
						+condition('GREATER_THAN_EQ','Is greater or equal to')
						+condition('GREATER_THAN','Is greater than')
				.form-group
						label(for='condition-value') Value:
						input.form-control#condition-value(value="#{trigger.value}",name='value',type='text')
				.form-group
					label.control-label(for='when') Trigger on first or every value reaching threashold
					select#option.form-control(name='when')
						mixin option(val, text)
							if(JSON.stringify(val)==JSON.stringify(trigger.option))
								option(value='#{val}', selected='selected') #{text}
							else
								option(value='#{val}') #{text}
						+option('FIRST_TIME','First time')  
						+option('EVERY_TIME','Every time')
				.form-group
					label.control-label(for='action') Action					
					select#action.form-control(name='action')
						option(value='ACTION_NONE', selected = 'ACTION_NONE' == trigger.action) None
						option(value='ACTION_TWITTER', selected = 'ACTION_TWITTER' == trigger.action) Twitter
				
				#twitter-action-options.action-option.form-group
					label(for='twitter-message') Twitter message:
					input.form-control(type='text',name='twitterMessage', value="#{trigger.twitterMessage}")#twitter-message
			
				.checkbox
					label
						input(type="checkbox",  checked=(trigger.enabled==='on' ? "checked" : undefined),name="enabled")#enabled
						|Enable
				.form-group
					input.btn.btn-primary.btn-default#trigger-submit-btn(type='submit', value='Save')
				a.btn.btn-danger.remove(href="#")#trigger-remove-btn Remove
				#trigger-success-status.alert.alert-success(role="alert", style="display:none;")
					strong Saved successfully
				

block scripts
	script(src="/javascripts/triggers/reactions.js")