extends ../layout


	
block content
	.container.body
		h3 Triggers 
		
		
		if(user)
			if(sensors)
				.panel.panel-default
					.panel-heading
						h3.panel-title Reactions
					.panel-body 
						table.table.table-striped
							thead
								tr
									th Name
									th Enable
									th Action
									th Sensor
									th Condition
									th Value
									th When
									th Triggered
									th JSON
									th Edit
							tbody
								each sensor in sensors
									#{sensor.name}
									if(sensor.trigger_reactions)
										each trigger in sensor.trigger_reactions
											tr
												th #{trigger.name} 
												if(trigger.enabled)
													td On
												else
													td Off 
												//th #{trigger.enabled}
												td #{trigger.action}
												td
													a(href="/sensor/#{sensor.name}") #{sensor.name}
												td #{trigger.condition}
												td #{trigger.value}
												td #{trigger.when}
												td #{trigger.triggered}
												td
													a(href="/triggers/reaction/json/#{trigger.name}") JSON
												td
													a(href="/triggers/reaction/edit/#{trigger.name}")
														span(title="Edit", aria-hidden="true").glyphicon.glyphicon-edit
										

						a.btn.btn-primary(href="/triggers/reaction/add") Configure a new reaction
				
				.panel.panel-default
					.panel-heading
						h3.panel-title Timers
					.panel-body 
						table.table.table-striped
							thead
								tr
									th Name
									th Enable
									th Start action
									th Stop action					
									th Start date
									th Stop date							
									th Switch is on
									th JSON
									th Edit
							tbody
								if(timers)
									each timer in timers									
										tr
											th #{timer.name} 
											if(timer.enabled)
												td On
											else
												td Off 
											//th #{trigger.enabled}
											td #{timer.startAction}
											td #{timer.stopAction}					
											td #{timer.startDate}
											td #{timer.stopDate}
											td #{timer.switchIsOn}
											td
												a(href="/triggers/timer/json/#{timer.name}") JSON
											td
												a(href="/triggers/timer/edit/#{timer.name}")
													span(title="Edit", aria-hidden="true").glyphicon.glyphicon-edit
								

						a.btn.btn-primary(href="/triggers/timer/add") Configure a new timer
		else
			p 
				a(href="/signin") Sign in 
				| to see your triggers and create new ones.
		