extends ../layout


	
block content
	.container.body
		h3 Edit trigger
		//
			script.
				 trigger = !{JSON.stringify(trigger)}	
		.row
			.col-md-4
				.form-group
					label.control-label(for='trigger-name') Trigger name:
					input#trigger-name(type="hidden",value="#{trigger.name}")
					
					p.form-control-static #{trigger.name}
					//input.form-control(type='text')#trigger-name(value="#{trigger.name}")
				.form-group
					label(for='sensor') Sensor:
					select#sensor.form-control
						each s in sensors
							if(JSON.stringify(s._id)==JSON.stringify(trigger._id))
								option(value='#{s._id}', selected="selected") #{s.name}								
							else
								option(value='#{s._id}') #{s.name}	
				.form-group
					label.control-label(for='condition') Condition					
					select#condition.form-control
						mixin condition(val, text)
							if(JSON.stringify(val)==JSON.stringify(trigger.condition))
								option(value='#{val}', selected='selected') #{text}
							else
								option(value='#{val}') #{text}

						+condition('LESS_THAN_EQ','Is less or equal to')
						+condition('LESS_THAN','Is less than')
						+condition('GREATER_THAN_EQ','Is greater or equal to')
						+condition('GREATER_THAN','Is greater than')
				.form-group
						label(for='condition-value') Value:
						input.form-control(type='text')#condition-value(value="#{trigger.value}")
				.form-group
					label.control-label(for='option') Trigger on first or every value reaching threashold
					select#option.form-control
						mixin option(val, text)
							if(JSON.stringify(val)==JSON.stringify(trigger.option))
								option(value='#{val}', selected='selected') #{text}
							else
								option(value='#{val}') #{text}
						+option('FIRST_TIME','First time')  
						+option('EVERY_TIME','Every time')						
				.form-group
					input.btn.btn-primary.btn-default#trigger-submit-btn(type='submit', value='Save')
				

block scripts
	script(src="/javascripts/triggers-add.js")