extends ../layout


	
block content
	.container.body
		h3 Triggers 
		
		
		if(user)
			if(sensors)
				.panel.panel-default.sensor-panel
					.panel-heading
						h3.panel-title Reactions
					.panel-body 
						table.table.table-striped
							thead
								tr
									th Name
									th Enable
									th Action
									th Sensor
									th Condition
									th Value
									th When
									th Edit
							tbody
								each sensor in sensors
									#{sensor.name}
									if(sensor.trigger_reactions)
										each trigger in sensor.trigger_reactions
											tr
												th #{trigger.name} 
												if(trigger.enabled)
													td On
												else
													td Off 
												//th #{trigger.enabled}
												td #{trigger.action}
												td
													a(href="/sensor/#{sensor.name}") #{sensor.name}
												td #{trigger.condition}
												td #{trigger.value}
												td #{trigger.when}
												td
													a(href="/triggers/reaction/edit/#{trigger.name}")
														span(title="Edit", aria-hidden="true").glyphicon.glyphicon-edit
										

						a.btn.btn-primary(href="/triggers/reaction/add") Configure a new reaction trigger
		else
			p 
				a(href="/signin") Sign in 
				| to see your triggers and create new ones.
		