extends layout

block append head
	link(href="/stylesheets/bootstrap-datetimepicker.min.css", rel="stylesheet",type="text/css", media="screen")
	link(href="/stylesheets/sensor-photos.css", rel="stylesheet",type="text/css", media="screen")
	
block content
	.container.body
		.row
			.col-xs-16.col-sm-12
				ul.nav.nav-tabs
					li(role='presentation')
						a.list-group-item(data-link='sensor-panel',href='#') Sensors
					li(role='presentation')
						a.list-group-item(data-link='add-sensor-panel',href='#') Add Sensor
					li(role='presentation')
						a.list-group-item(data-link='data-panel',href='#') Data
					li(role='presentation')
						a.list-group-item(data-link='photo-panel',href='#') Photos	
					li(role='presentation')
						a.list-group-item(href='#',data-link='profile-panel') Profile
	
				if (!user)
					h1 Orchestrate User Authentication
						|     
						p Sign in and view your profile!
						|     
						p
							a.btn.btn-primary.btn-lg(href='/signin', role='button')
								span.glyphicon.glyphicon-user
								|         Sign in!
				if (user)
					.panel.panel-default.profile-panel.collapse
						.panel-heading
							h3.panel-title(style="display:inline-block") Profile Information
							a(href='#', style="float:right")
								span.glyphicon.glyphicon-edit(aria-hidden='true')
						.panel-body
							p Username: #{user.username}
	
							p.fullName
								| Full name: #{user.fullName}
							p.email
								| Epost: #{user.email}
							p.about
								| About: #{user.about}
					
					.panel.panel-default.profile-edit-panel.collapse
						.panel-heading
							h3.panel-title(style="display:inline-block") Profile Information
							a(href='#', style="float:right")
								span.glyphicon.glyphicon-ok(aria-hidden='true')
						.panel-body
							form.form-horizontal#local-reg(action='/update-profile', method='post')								
								.form-group
									label.col-sm-2.control-label Email
									.col-sm-10
										input.form-control(placeholder='Email',name="email",type="email", value="#{user.email}")
								.form-group
									label.col-sm-2.control-label Full name
									.col-sm-10
										input.form-control(type='text', placeholder='Full name',name="fullName" , value="#{user.fullName}")
								//
									.form-group
										label.col-sm-2.control-label Password
										.col-sm-10
											input.form-control(type='password', placeholder='Password',name="password")
								.form-group
									label.col-sm-2.control-label About
									.col-sm-10
										textarea.form-control(rows='4', placeholder='Say something',name="about",value="#{user.about}") #{user.about}
								
					.panel.panel-default.sensor-panel.collapse.in
						.panel-heading
							h3.panel-title Sensors        
						.panel-body
							#sensorList
								.table-responsive
									table.table
										thead
											th Name
											th Description
											th Unit
											th valueSuffix                
											th Lat,Lng
											th Id
	
										tbody
									
					.panel.panel-default.add-sensor-panel.collapse
						.panel-heading
							h3.panel-title Add Sensor
						.panel-body
							.row
								.col-xs-8.col-sm-6.col-md-5
									.panel.panel-default
										.panel-body
											#addSensor
												input.form-control#inputSensorName(type='text', placeholder='Name')
												br
												input.form-control#inputSensorDesc(type='text', placeholder='Description')
												br
												input.form-control#inputSensorUnit(type='text', placeholder='Unit')
												br
												input.form-control#inputSensorValueSuffix(type='text', placeholder='Value suffix (%)')
												br
												input.form-control#inputSensorLatLng(type='text', placeholder='Latitude,Longitude')
												br
												button.btn.btn-default#btnAddSensor Add Sensor
								.col-xs-12.col-sm-6.col-md-7
									.panel.panel-default
										.panel-body
											#map-canvas(style="height: 20em; margin: 0px; padding: 0px; ")
	
					.panel.panel-default.data-panel.collapse
						.panel-heading
							h3.panel-title Edit sensor data
						.panel-body
							#sensorDropdown.btn-group
								button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false") Sensor 	
									span.caret
								ul.dropdown-menu(role="menu")
	
							.row
								.col-md-4
					
									h2 Add
									#addSensorData
										input.form-control#inputSensorValue(type='text', placeholder='Value')
										br
										.form-group
											.input-group.date#datetimepicker1
												input.form-control( type='text')
												span.input-group-addon
													span.glyphicon.glyphicon-calendar
										button.btn.btn-default#btnAddSensorData(style="float:right") Add Sensor Data
										
								.col-md-8
									h2 Edit
									#sensorDataList
										table.table
											thead
												th Time
												th Value
											
											tbody
											
					.row.photo-panel.collapse
						.col-md-4
							.panel.panel-default
								.panel-heading
									h3.panel-title Select sensor
								.panel-body								
									#photoSensorDropdown.btn-group
										button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false") Sensor 	
											span.caret
										ul.dropdown-menu(role="menu")
						
							
						.col-md-6
							.panel.panel-default
								.panel-heading
									h3.panel-title Upload images
								.panel-body
									form#photo-post-form.form-inline(action='/photos/upload',method="post",enctype="multipart/form-data")
										.form-group
											
											label(for="photos-select") Select images:
											input(type='file', id="photos-select" name='photos',multiple="multiple")
										input(type='hidden',name='sensorId',value='')
										.form-group
											button.btn.btn-default(type='submit') Upload
												
					
						.col-md-12
							.panel.panel-default
								.panel-heading
									h3.panel-title Photos
								.panel-body
									.photos-container
									
block scripts
	script(src="/javascripts/libs/moment/moment-with-locales.js")
	script(src="/javascripts/libs/bootstrap-datetimepicker.min.js")
	script(src="/javascripts/populateSensors.js")
	script(src="/javascripts/edit-sensors.js")
	script(src="/javascripts/edit-sensor-data.js")
	script(src="/javascripts/edit-profile.js")
	script(src="/javascripts/edit-photos.js")
	script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=true')
	script(src="/javascripts/location.js")
	